body {
  background: $color-tertiary-1;
  padding: 0;
  margin: 0;
  font-family: $font-family-main;
  color: $color-theme-3;
  & * {
    transition: all 0s;
  }
  .region-region-page-top {
    position: relative;
    float: left;
    width: 100%;
    background: $color-tertiary-2-dark;
    padding: 10px 15px 5px;
    text-align: center;
    z-index: 1000;
  }
  header.navbar {
    width: 100%;
    padding: 0;
    // TODO: I overrided some style. Maybe even Bootstrap's. Not sure.
    max-width: 100% !important;
    margin-top: 0 !important;
    border: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    // Needed for smooth slideDown/Up.
    min-height: 0;
    &.affix-top {
      position: absolute;
    }
    &.affix {
      position: fixed;
      // TODO: affix library doesn't work properly?
      top: 0 !important;
    }
  }
  .conference-cover {
    @include parallax-block();
    height: 360px;
    background-color: #428BCA;
    color: #FFF;
    background-image: url("../assets/img/conf-cover.jpg");
  }
  .mobile-left {
    @include element-transition($mobile-menu-transition);
    position: relative;
    right: $mobile-menu-width;
    &.mobile-menu-collapse {
      right: 0;
    }
  }
}