body.page-search {
  .region-content {
    margin: 40px 0;
    form.search-form {
      .form-inline {
        display: table;
        > div,
        > button {
          vertical-align: bottom;
        }
      }
    }
  }
}