.node.node-speaker {
  margin: 40px 0;
  .field-name-field-credentials,
  .field-name-field-job-title,
  .field-name-field-company-name {
    font-family: $font-family-main-bold;
    color: $color-theme-3;
    text-transform: uppercase;
    font-size: 14px;
  }
  .field-name-field-photo {
    margin: 20px 0;
  }
  &.view-mode-keynote_speaker {
    margin: 0;
    min-height: 385px;
    .field-name-field-photo {
      margin: 0 0 40px;
    }
  }
}