.node {
  .field-name-field-cover-image {
    margin-bottom: 40px;
    text-align: center;
    @include full-size-image();
  }
  .field-name-body {
    margin-bottom: 40px;
    .field-item > h2 {
      font-family: $font-family-main-bold;
      margin-bottom: 20px;
    }
  }
}

.node.view-mode-full {
  margin: 40px 0;
  > .field-name-body {
    margin: 10px 0 20px;
  }
  h1 {
    @include title-style($color-theme-1, 40px);
    @include green-line;
    &:after {
      top: initial;
      bottom: -10px;
    }
  }

  h2 {
    @include title-style($color-theme-1, 28px);
  }

  h3 {
    @include title-style($color-theme-3, 22px);
  }

  h4 {
    @include title-style($color-theme-3, 16px);
  }
}