.view {
  margin: 40px auto;
  .view-header {
    margin-bottom: 10px;
    text-align: center;
    h2,
    h1.block-title {
      @include title-style($color-theme-1, 40px);
    }
  }
  .view-content {
    overflow: hidden;
  }
  .view-footer {
    text-align: center;
    a {
      display: inline-block;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

.view.view-topics {
  @include list-style;
  @include topic-list;
}

.view.view-speakers {
  @include list-style;
  @include speaker-list;
}