html body.admin-menu {
  margin-top: 0 !important;
}

.form-autocomplete .input-group-addon {
  background: transparent;
  border: none;
  @include border-radius(0);
  .glyphicon {
    color: transparent;
  }
}

header.navbar {
  .btn {
    @include btn-style-transparent;
  }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $color-theme-1;
  border-color: $color-theme-1;
  .icon-bar { //TODO: delete
    background-color: $color-tertiary-1;
  }
}

.btn,
.btn.btn-default,
.btn.btn-info {
  @include btn-style;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
}

// custom selector

.view-session-search {
  .views-exposed-form {
    margin-bottom: 30px;
    .views-exposed-widget {
      input {
        border-radius: 2px;
        box-shadow: none;
        border-color: $color-tertiary-2-base;
        height: 43px;
      }
    }
  }
  .chosen-container.chosen-with-drop,
  .chosen-container-single {
    .chosen-single {
      border: none;
      background: $color-tertiary-1;
      box-shadow: none !important;
      line-height: 36px;
      div b {
        background-position-y: 5px;
      }
    }
    .chosen-drop {
      border-radius: 0;
      box-shadow: none;
      border-color: $color-tertiary-2-base;
      width: 101%;
      .chosen-results {
        margin: 0;
        padding: 0;
        li {
          padding: 10px 19px 5px;
          &.active-result.highlighted {
            background: $color-theme-1;
            color: $color-tertiary-1;
          }
        }
      }
    }
    &.form-control {
      border-radius: 2px;
      box-shadow: none;
      border-color: $color-tertiary-2-base;
      height: 43px;
    }
  }
  .chosen-container.chosen-with-drop.chosen-container-active {
    .chosen-single div b {
      background-position: -18px 5px;
    }
    .chosen-drop {
      left: -1px;
    }
  }
}

// pagination

.pagination {
  > li > a,
  > li > span {
    padding: 6px 12px 3px;
  }
  > .active > a,
  > .active > span,
  > .active > a:hover,
  > .active > span:hover,
  > .active > a:focus,
  > .active > span:focus {
    background-color: $color-theme-1;
    border-color: $color-theme-1;
  }
}

.tooltip.fade * {
  transition: none;
}